
<div class="input-group pl-1" style="margin-top:6px;">
    <input name="q" type="search" id="q" value="@Request["q"]" class="form-control form-control-xs" style="border: 1px solid #4285f4;" placeholder="搜索关键字" />
    <button class="btn btn-space btn-primary btn-space"><i class="icon icon-left mdi mdi-search"></i>查询</button>
</div>